td, th {
    padding: 5px;
    text-align:left;
}
.overlay{
    background:transparent url(images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

.PromptBox{
    position:fixed;
    top:-300px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index:101;
}
a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(images/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}

#condition_container{
    display:none;
    position:fixed;      
    background:#FFFFFF;    
    border:2px solid #cecece;    
    z-index:2;    
    padding:12px;    
    font-size:13px;  
}
#popupClose{    
    font-size:20px;    
    line-height:20px;    
    position:absolute;  
    rightright:6px;    
    top:4px;    
    font-weight:700;   
    display:block;    
}
#bgPopup{  
    display:none;   
    position:fixed;    
    _position:absolute; /* hack for internet explorer 6*/    
    height:100%;    
    width:100%;    
    top:0;    
    left:0;    
    background:#000000;     
    z-index:1;    
}
.form-field * {
    vertical-align: right;
}   
 